# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp

# Misc
*.log
pubspec.lock

# Android release signing
android/key.properties
*.jks
*.keystore
